*,
*:after,
*:before {
  box-sizing: border-box;

}

html {
  height: 100%;
}


body {
  font-family: 'Roboto', sans-serif;
  background: #f3f3f3;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

header {
  width: 100%;
  height: 150px;
  box-shadow: 1px 20px 11px 0px rgba(0,0,0,.2);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
}

footer {
  width: 100%;
  height: 80px;
  align-self: flex-end;
  text-align: center;
}

main {
  width: 100%;
  background: #000;
}

label {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}

input {
  width: 100%;
  display: block;
  padding: 20px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

button {
  width: 100%;
  height: 50px;
  background: #0e918c;
  color: #fff;
  cursor: pointer;
  margin: 20px 0;
  font-weight: bold;
  border: 0;
}


.embed {
  position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.embed iframe {
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.container {
  width: 100%;
  background: #fff;
  margin: 50px auto;
  padding: 20px;
}

.mark {
  color: #0e918c;
}

.logo {
  display: block;
  text-align: center;
  margin-bottom: 50px;
}

@media (min-width: 1024px) {
  .container {
    width: 500px;
  }
}

.hide {
  opacity: 0;
}